.glass{
    background: rgba(255, 255, 255, 0.55);
    border-radius: 16px;
    box-shadow:0 4px 30px #4646460b ;
    backdrop-filter: blur(7.1px);
    border: 3px solid rgba(255, 255, 255, 0.3);
    @apply border-4 border-gray-50 shrink-0 w-[20%] rounded-3xl py-10 px-7 min-w-max
}

.profile_img{
 @apply border-4 border-gray-100 w-[80px] rounded-full shadow-lg cursor-pointer;
 @apply hover:border-gray-200;
}

.textbox{
    @apply border-0 px-5 py-3 rounded-xl w-3/4 shadow-sm text-lg;
    @apply focus:outline-none;
}
.btn{
    
    @apply border py-2 rounded-lg text-gray-50 text-xl shadow-sm text-center ;
    
}
.btn:hover{
    background-color: tomato;
}
.background_img{
    background-color: bisque;
    /* background-image: url('../assets/bg-2.jpg'); */

}

input[type='file']{
    display: none;
}